    * {
        box-sizing: border-box;
    }
    .download__app{
       text-align: center;
       margin-top: 20px;
    }
    .price,
    .wrapper {
        min-height: 100%;
        position: relative;
        overflow: hidden;
        background-color: black;
    }
    .tabs__inner{
        display: flex;
        justify-content: space-between;
    }
    .tab__box-title{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .title__price{
        font-size: 50px;
        font-weight: bold;
    }
    
    .contents__tab {
        padding: 50px 0;
        margin: 0px auto;
    }
    .tabs {
        margin: 0px 0px 50px 0px;
    }
    .tabs__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .tabs__item {
        margin: 50px;
        width: 250px;
        padding: 10px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: rgb(0, 0, 0);
        text-decoration: none;
        background-color: white;
        border-radius: 23px;
        box-shadow: 0 0 15px 0 rgba(255,207,0,1);
        border: 5px solid orange;
    }
    .tabs__item1{
        margin: 50px;
        width: 250px;
        padding: 10px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        text-decoration: none;
        background-color: rgb(0, 0, 0);
        border-radius: 23px;
        box-shadow: 0 0 15px 0 rgb(255, 255, 255);
        border: 5px solid rgb(247, 243, 235);
    }
    .tabs__item span {
        position: relative;
        z-index: 2;
    }
    .tabs__block {
        position: relative;
        padding: 20px;
        font-size: 18px;
        line-height: 24px;
        display: none;
        color: rgb(245, 245, 245);
        background-color: rgb(0, 0, 0);
        box-shadow: 0 0 30px 0 rgba(255,207,0,1);
    }
    .tabs__block:before {
        content: "";
        height: 50px;
        position: absolute;
        top: -50px;
    }
    
    .tabs__block:target {
        display: block;
    }
    
    .text {
        font-size: 18px;
        line-height: 24px;
    }
    .title__price{
        color: white;
        text-align: center;
    }
    
    @media (max-width: 600px) {
        .tabs__item span {
            display: block;
            width: 100px;
            padding: 0px 5px;
            white-space: nowrap;
            text-align: center;
            overflow: hidden;
            font-size: 14px;
            text-overflow: ellipsis;
        }
    }
    
    .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu__link--line{
        border-bottom: 3px solid #ffc61a;
    }
    .contacts__header{
        color: #ffffff;
        margin-left: 20px;
        padding-top: 30px;
    }
    .header__phone{
        text-decoration: none;
        color: white;
    }
    .content__tablo{
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .air__img{
        width: 500px;
        height: 300px;
        border: 3px solid #ffc222;
        margin-bottom: 20px;
        box-shadow: 0 0 30px 0 rgba(255,207,0,1);
    }
    .tablo__link{
        text-decoration: none;
        color: white;
        text-align: center;
    }
    .content__tablo-text{
        font-size: 20px;
        font-weight: bold;
        border-bottom: 2px solid #ffc61a;
        box-shadow: 0 0 30px 0 rgba(255,207,0,1);
        border-radius: 23px;

    }
    .content__tablo-box{
        padding: 50px;
    }
    h1 {
       margin-top: 20px;
    }
    body {
        font-family: Verdana, Geneva, sans-serif;
    }
    .container {
        max-width: 1180px;
        margin: 0px auto;
        flex: 1 1 auto;
    }
    .header,.navigation {
        background-image: url(../img/header-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        overflow: hidden;
    }
    .menu ul,li {
        margin-top: 15px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 18px;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: block;
        padding: 0 10px;
        font-size: 17px;
        font-family: serif;
        text-transform: uppercase;
        transition: .5s;
        font-weight: bold;
    }
    li a {
        text-decoration: none;
    }
        ul:hover li a:hover {
        font-size: 20px;
        border: 2px solid white;
        border-radius: 10px;
        color: #fffdf8;
        font-weight: bold;
        background-color: #ffc61a; 
    }
    li a {
        text-decoration: none;
        color: #fff;
        transition: .5s;
        padding: 10px;
    }
    .content__iframe{
        background-color: black;
        display: flex;
        justify-content: space-between;
    }
    .header__btn-menu {
        display: none;
        font-size: 35px;
    }
    .header-logo {
        float: left;
        color: #ffc61a;
        font-size: 30px;
        font-weight:bold;
        border-left: 3px solid #ffffff;
        border-right: 3px solid #ffc61a;
        border-radius: 25px;
        padding: 10px;
    }
    .header-logo a {
        text-decoration: none;
        color: #ffc61a;
    }
    span {
        color:#ffffff;  
    }
    .header__text{
        text-align: center;
        padding-top: 50px;
        color: white;
        font-size: 30px;
        font-weight: bold;
    }
    .header-title {
        text-align: center;
        color: #ffc61a;
        font-size: 35px;
        font-weight:bold;
        text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
    }
    .header-image {
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .header__order{
        display: flex;
        justify-content: center;
    }
    .header__order-btn {
        text-decoration: none;
        margin-top: .4em;
        display: block;
        width: 170px;
        height: 46px;
        background: #ffcf00;
        text-align: center;
        line-height: 46px;
        color: #000;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        border-radius: 23px;
        -webkit-box-shadow: 0 0 30px 0 rgba(255,207,0,1);
        -moz-box-shadow: 0 0 30px 0 rgba(255,207,0,1);
        box-shadow: 0 0 30px 0 rgba(255,207,0,1);
    }
    .contacts__header-menu {
        display: none;
    }
    .header__order-btn:hover{
        zoom: 1.1;
    }
    .services{
        padding: 50px 0px 30px;
   }

    .services__img{
        width: 100%;
        height: 250px;
    }
    .services-top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    .services-title-box{
        max-width: 520px;
        padding-left: 140px;
        position: relative;
    }
    .services-title-box:before{
        content: "";
        position: absolute;
        width: 100px;
        height: 2px;
        background-color: #ffc222;
        left: 0;
        top: 11px;
    }
    .services-title{
        font-size: 30px;
        font-weight: bold;
        line-height: 24px;
        color: #212020;
        margin-bottom: 10px;
    }
    .services-text{
        margin-top: 10px;
        letter-spacing: 0.1px;
    }
    .services-btn a {
        text-decoration: none;
        color:#3a3939;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.25px;
        padding: 5px 38px;
        border-bottom: 2px solid orange;
        border-radius: 20px;
        box-shadow: 0px 7px 24.3px 8.7px rgba(0, 0, 0, 0.14);
    }
    .services-items{
        display: flex;
        justify-content: space-between;
    }
    .services-item{
        max-width: 360px;
        text-align: center;
        padding: 0px 0px 80px;
        position: relative;
        min-height: 375px;
        background-color: #f9f9f9;
        box-shadow: 0px 7px 24.3px 3.7px rgba(0, 0, 0, 0.14);
    }
    .services-item-title{
        color: #212020;
        font-size: 18px;
        line-height: 24px;
        font-weight: bold;
        padding: 24px 0;
    }
    .services-item-text{
        letter-spacing: 0.1px;
        padding: 0px 30px 30px;
      
    }
    .services-item-btn{
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
        font-size: 18px;
    }
    .sbutton{
        background-color: rgb(241, 239, 239);
        padding: 10px;
        text-decoration: none;
        color: #050505;
        font-family: 'Roboto', sans-serif;
        border-bottom: 3px solid #ffc61a;
        border-radius: 20px;
    }
    .cars {
        background-color: black;
        padding: 30px 30px;
    }
    .car {
        border-radius: 25px;
        box-shadow: 0px 1px 3.3px 3.7px rgb(255, 255, 255);
    }
    .cars-title {
        margin-bottom: 50px;
        font-size: 30px;
        font-weight: bold;
        color: white;
        text-align: center;
        margin: 0px 0px 30px 0px;
    }
    .cars-row {
        display: flex;
        flex-wrap: wrap;
        margin: 0px -8px;
    }
    .cars-column {
        flex:  0 1 50%;
        margin: 0px 0px 30px 0px;
        padding: 0px 8px;
    }
    .item-row {
        display: flex;
    }
    .item-image {
        flex: 0 0 200px;
    }
    .item-body{
        flex: 1 1 auto;
        padding: 0px 0px 0px 15px;
        color: white;
    }
    .item-title {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 13px;
    }
    .item-text {
        font-size: 16px;
        line-height: 24px;
    }
    .cars-item-btn {
        margin-top: 30px;
        text-align: center;
        font-size: 20px;
        height: 40px;
    }
    .cbutton {
        text-decoration: none;
        color: white;
        font-weight: bold;
        line-height: 24px;
        letter-spacing: 0.25px;
        padding: 5px 38px;
        border-bottom: 2px solid orange;
        border-radius: 20px;
        box-shadow: 0px 7px 24.3px 8.7px rgba(255, 253, 253, 0.14);
    }
    .cars-span {
        color: orange;
    }  
    .advantages{
        background-image: url(../img/bg-3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 25px 0px 40px;
    }
    .advantages__title-title {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }
    .advantages-inner{
        margin-top: 40px;
        color: rgb(0, 0, 0);
        text-align: center;
        display: flex;
        justify-content: space-between;
    }
    .advantages-item{
        padding: 20px;
        max-width: 300px;
        padding: 20px 20px;
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 7px 24.3px 4.7px #ffc61a;
    }
    .advantages-title {
        font-size: 25px;
        line-height: 24px;
        font-weight: bold;
        padding: 60px 0px 15px;
        position: relative;
    }
    .advantages-title:before {
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 10px;
    }
    .advantages-title:after{
        content: "\f05d";
        font-family: 'icomoon';
        font-style: 14px;
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
    .advantages-text {
       line-height: 24px;
       color: #000000;
       letter-spacing: 0.1px;
       font-size: 16px;
    }
    .demands{
        background-color: rgb(0, 0, 0);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 55px 0px 40px;
    }
    .demands__title-title {
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }
    .demands-row{
        height: 300px;
        margin-top: 40px;
        color: rgb(255, 251, 251);
        text-align: center;
        display: flex;
        justify-content: space-around;
    }
    .demands-item{
        padding: 20px;
        max-width: 360px;
        padding: 0px 20px;
        border-radius: 20px;
    }
    .demands-left{
        display: flex;
        flex-direction: column;
    }
    .demands-right{
        display: flex;
        flex-direction: column;
    }
    .demands-text {
        padding: 10px;
        font-weight: bold;
        font-size: 20px;
        color: rgb(0, 0, 0);
        background-color: white;
        border-radius: 10px;
        border: 1.5px solid #ffc61a;
        margin-top: 14px;
        box-shadow: 0px 0px 30.3px 2.7px #6e6e6e;
    }
        .fl_upld{width:300px;}
        #fl_inp{display:none;}
        .fl_upld label{
            border: 0;
            background: none;
            display: block;
            text-align: center;
            border: 2px solid #ffc61a;
            padding: 14px 10px;
            width: 250px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25s;
        }
        .fl_upld label:hover{background:rgb(0, 0, 0);}
        #fl_nm{
        margin-top:20px;
        color:#f00;
    }
    .download__title{
        text-align: center;
        font-size: 20px;
    }
    .form{
        background-color: black;
        color: white;
    }
    .form__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .download__form{
        text-decoration: none;
        border: none;
        background-color: black;
    }
    .col-sm-4{
        display: flex;
        justify-content: center;
    }
    .box{
        background-color: rgb(32, 32, 32);
        padding-top: 50px;
        padding: 40px;
        text-align: center;
        border-radius: 20px;

    }
    .form__title{
        font-size: 30px;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 50px;
    }
    .form-control{
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #ffc61a;
        padding: 14px 10px;
        width: 250px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
    }
    .box input:focus{
        width: 280px;
        border-color: white;
    }
    .btn-primary{
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #f7f6f5;
        padding: 14px 10px;
        width: 200px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
    }
    .btn-primary:hover{
        background-color: white;
        color: black;
    }
 
   
    .header__services {
        background-color: black;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 100%;
        overflow: hidden;
    }
    .header__service-title {
        display: flex;
        justify-content: center;
        margin-bottom:50px;
        text-align: center;
        color: #ffc61a;
        font-size: 75px;
        font-weight:bold;
        text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 3px 0 #b9b9b9,
        0 3px 0 #aaa,
        0 6px 1px rgba(0,0,0,.1),
        0 0 2px rgba(0,0,0,.1),
        0 1px 2px rgba(0,0,0,.3),
        0 2px 2px rgba(0,0,0,.2),
        0 2px 5px rgba(0,0,0,.25),
        0 5px 5px rgba(0,0,0,.2),
        0 10px 10px rgba(0,0,0,.15);
    }
    .allservice {
        background-image: url(../img/bg-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 100%;
        overflow: hidden;
    }
    .allservice__row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .allservice__row-subtitle {
        text-align: center;
        margin-top: 10px;
        text-align: center;
        color: #000000;
        font-size: 55px;
        font-weight: bold;
        text-shadow: rgb(231, 229, 229) 3px 3px 0, rgb(241, 232, 232) -1px -1px 0, rgb(219, 209, 209) -1px 1px 0, rgb(243, 238, 238) 1px -1px 0;
    }
    .allservice__row-text {
        color: rgb(255, 255, 255);
        text-align: center;
        margin-top:15px;
        font-size: 25px;
        font-weight: bolder;
        height:auto;
        text-shadow: rgb(0, 0, 0) 3px 3px 0, rgb(0, 0, 0) -1px -1px 0, rgb(0, 0, 0) -1px 1px 0, rgb(0, 0, 0) 1px -1px 0;
        
    }
    .allservice__row-item{
        border: 5px solid black;
        margin: 10px;
        text-align: center;
        padding: 30px 0px 80px;
        border-radius: 50px;
    }
    .slider{
        background-color:black;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 500px;
    }
    .slider__item-content{
        text-align: center;
        max-width: 665px;
        margin: 0 auto;
    }
    .slider__title{
        text-transform: uppercase;
        font-size: 40px;
        line-height: 36px;
        font-weight: bold;
        color: #fff;
        font-weight: 500;
        letter-spacing: 1.5px;
        margin-bottom: 22px;
        border-left: 2px solid #ffc61a;
        border-right: 2px solid #ffc61a;
        border-radius: 50px;
    }
    .slider__text{
        line-height: 24px;
        font-size: 18px;
        color: #d3d2d2;
        margin-bottom: 50px;  
    }
    .slider__inner{
        position: relative;
    }
    .slider-image {
        display: flex;
        justify-content: center;
        padding: 10px;
        border-radius: 50px;
    }
    .slick-btn{
        position: absolute;
        top: 50%;
        z-index: 3;
        width: 40px;
        height: 40px;
        border: 2px solid #fff;
        border-radius: 50px;
        cursor: pointer;
        outline: none;
        background-color: #ffc222;
    }
    .slick-btn.slick-disabled{
        cursor: default;
        background-color: transparent;
    }
    .slick-btn:before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'icomoon';
        color: #fff;
    }
    .slick-next:before{
        content: "\f105";
    }
    .slick-prev:before{
        content: "\f104";
    }
    .slick-next{
        right: 0;
    }
    .slick-prev{
        left: 0;
    }
    .footer__content{
        background-color: #000000;
        padding: 20px 0px 0px;
    }
    .footer__inner{
        display: flex;
        justify-content: space-between;
    }
    .footer__map{
        padding-top: 10px;
        max-width: 630px;
        width: 100%;
    }
    .footer__map iframe{
        width: 100%;
    }
    .footer__title {
        text-align: center;
        font-size: 20px;
        line-height: 36px;
        font-weight: bold;
        color: #fff;
        letter-spacing: 0.5px;
        border-left: 0.1px solid #ffc61a;
        border-right: 0.1px solid #ffc61a;
        border-radius: 20px;
        width: 140px;
        margin-top: 20px;
    }
    .footer__text {
        margin-top: 10px;
        color: #d3d2d2;
        margin-bottom: 20px;
    }
    .footer__info {
        max-width: 360px;
    }
    .footer__list {
        padding-top: 10px;
    }
    .footer__list a {
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.25px;
        color: #fff;
        font-weight: 400;
        padding-left: 33px;
        position: relative;
    }
    .footer__list a:before {
        content: "\f003";
        position: absolute;
        left: 0;
        color: #ffc61a;
        font-family: 'icomoon';
    }
    .footer__list .footer__phone:before {
        content: "\f095";
        left: 3px;
    }
    .footer__list .footer__adress:before {
        content: "\f041";
        left: 3px;
    }
    .footer__copy {
        color: white;
        background-color: #000000;
        text-align: center;
        font-style: 12px;
        line-height: 24px;
        padding: 8px 0;
        font-weight: 400;
    }
    @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
    .social a {
        text-align: center;
        width: 48px;
        height: 48px;
        float: left;
        background: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
        border-radius: 24px;
        margin: 15px 10px 10px 0;
        padding: 6px;
        color: #000;
    }
    .telegram a:hover {background: #249bd7; color: #fff;}
    .instagram a:hover {background: #b11983; color: rgba(255, 255, 255, 0.863);}
    .facebook a:hover {background: #3b5998; color: #fff;}
    .viber a:hover{background: #7b519d; color: #fff}
    
    
